@import "../../styles/colors.scss";

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-decoration: none;
    transition: background-color 300ms ease-in-out;

    .link {
      font-size: 1.4rem;
      border: none;
      outline: none;
      color: $color-100;
    }

    &:hover {
      background-color: $color-800;
    }
  }
}
