.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;

  .input {
    width: fit-content;
    margin: 0 0 1rem 0;
  }

  .table {
    margin: 1rem 0 0 0;

    td {
      .editable {
        border: none;
        width: auto;
        height: auto;
        background: transparent;
        padding: 0;
        margin: 0;

        &:focus {
          outline: none;
        }
      }

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          border: none;
          background: transparent;
          width: fit-content;
          padding: 0;
          margin: 0;

          &:not(:disabled) {
            cursor: pointer;
          }

          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .add {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 1rem 0 0 0;
    width: fit-content;
    height: fit-content;

    span {
      font-size: 2.75rem;
    }
  }

  .sync {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}
