@import "./styles/colors.scss";
@import "./styles/fonts.scss";

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  color: $color-200;
  font-family: $font-primary, $font-secondary;
}
